GIT_COMMAND_LOG.log 

*.bak
*.db
web.config
web.xml

app\SSHDebug\*
app\config_Constants.php
app/config_Constants.php
aspnet_client\*
aspnet_client/*
build\* 
framework\config\* 
framework/config/* 

*\*.bak
build\* 

