GIT_COMMAND_LOG.log 

*.bak
*.db
*.log
*.NOT_NEEDED

web.config
web.xml
/parseVistaDosage.php
/BSACalcs.php
/app/**/app-old.js
/jshint.*.txt

/app/SSHDebug
/app/config_Constants.php
/app/dbitcon.php
/app/js_Files2Ignore/*
/app/js/*.jscript
/build/* 
/aspnet_client/*
/framework/config/* 
/_Temp/*
/node_modules/*
/ParseVPR/*
/reports/*
/dist/*
/NodeJS/coms-api/*.log

PHP Log*.txt
SQL_Scripts/*.txt

