<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<httpErrors errorMode="Detailed" /> 
        <rewrite>
            <rules>
                <rule name="Imported Rule 1">
                    <match url="^$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{URL}" pattern="^(?:(?!/Fsheet/*).)*$" ignoreCase="false" />
                        <add input="{URL}" pattern="^(?:(?!/Track/*).)*$" ignoreCase="false" />
                        <add input="{URL}" pattern="^(?:(?!/Issues/*).)*$" ignoreCase="false" />
                        <add input="{URL}" pattern="^(?:(?!/UnitTests/*).)*$" ignoreCase="false" />
                        <add input="{URL}" pattern="^(?:(?!/libs/*).)*$" ignoreCase="false" />
                        <add input="{URL}" pattern="^(?:(?!/images/*).)*$" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="app/" />
                </rule>
                <rule name="Imported Rule 2">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{URL}" pattern="^(?:(?!/Fsheet/*).)*$" ignoreCase="false" />
                        <add input="{URL}" pattern="^(?:(?!/Track/*).)*$" ignoreCase="false" />
                        <add input="{URL}" pattern="^(?:(?!/Issues/*).)*$" ignoreCase="false" />
                        <add input="{URL}" pattern="^(?:(?!/UnitTests/*).)*$" ignoreCase="false" />
                        <add input="{URL}" pattern="^(?:(?!/libs/*).)*$" ignoreCase="false" />
                        <add input="{URL}" pattern="^(?:(?!/images/*).)*$" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="app/{R:1}" />
                </rule>
                <rule name="Imported Rule 3" enabled="true">
                    <match url="^app/(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="app/index.php?url={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 4">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{URL}" pattern="^(?:(?!/Fsheet/*).)*$" ignoreCase="false" />
                        <add input="{URL}" pattern="^(?:(?!/Track/*).)*$" ignoreCase="false" />
                        <add input="{URL}" pattern="^(?:(?!/Issues/*).)*$" ignoreCase="false" />
                        <add input="{URL}" pattern="^(?:(?!/UnitTests/*).)*$" ignoreCase="false" />
                        <add input="{URL}" pattern="^(?:(?!/js/*).)*$" ignoreCase="false" />
                        <add input="{URL}" pattern="^(?:(?!/coms.php/*).)*$" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="index.php?url={R:1}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
        <handlers>
            <remove name="PHP_via_FastCGI" />
            <add name="PHP_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\PHP\php-cgi.exe" resourceType="Either" requireAccess="Script" />
</handlers>
    </system.webServer>

</configuration>
