<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="Imported Rule 3" />
                <remove name="Imported Rule 4" />
                <remove name="Imported Rule 2" />
                <remove name="Imported Rule 1" />
            </rules>
        </rewrite>
    </system.webServer>
    <system.web>
        <identity impersonate="false" />
    </system.web>
</configuration>
